<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo">
    <description>@description@</description>
    <author>@author@</author>
    <website>@website@</website>
    <status>@status@</status>
    <license>@license@</license>
    <copyright>true</copyright>
    <type>library</type>
    <changelog>
        <change version="1.0.0">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Breaking change: Switch package type from app to library. Apps that relied on
                    the application package's /exist/apps/markdown/PATH_TO_MD.md (via the parse.xql
                    main module will not work.</li>
                <li>Use generator-exist to regenerate package scaffolding, with tests, CI, etc.</li>
            </ul>
        </change>
        <change version="0.7.1">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Fix problem with parsing of inline strong - <a href="https://github.com/eXist-db/exist-markdown/pull/11">#11</a></li>
                <li>Fix problem with block parsing- <a href="https://github.com/eXist-db/exist-markdown/pull/12">#12</a></li>
                <li>Note: The fix in #12 was required for users of eXist 5.3.0 or higher, and so it is now the minimum required version.</li>
            </ul>
        </change>
        <change version="0.7.0">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Remove shared-resources dependency - <a href="https://github.com/eXist-db/exist-markdown/pull/7">#7</a></li>
            </ul>
        </change>
        <change version="0.6">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Update regex to match spec - <a href="https://github.com/eXist-db/exist-markdown/commit/7c30b80df9508b6c64a2758fc42358be0c72013d">7c30b80</a></li>
                <li>Add link to TEI version to bottom of test.md - <a href="https://github.com/eXist-db/exist-markdown/commit/abf4b36288f28a35dd10480163a975a5ddff30dc">abf4b36</a></li>
            </ul>
        </change>
        <change version="0.5">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Add TEI output alongside original HTML output</li>
                <li>Add support for task lists</li>
                <li>Fix handling of quotes</li>
                <li>Fix markdown module namespace prefix collision with metadata module</li>
            </ul>
        </change>
        <change version="0.4">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Allow markdown to occur inside HTML tags</li>
            </ul>
        </change>
        <change version="0.3">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Support HTML blocks and inline HTML</li>
            </ul>
        </change>
    </changelog>
</meta>
